.login {
    width: 400px;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
    color: #ffffff
}

.formcontrol {
    width: 100%;
    margin: 0 auto;
    padding: 1%;
    border: none;
}

.input {
    display: block;
    margin: 0.5rem 0;
    width: 50%;
    padding: 4px;
    border: 2px solid #a2da3c
}

.label {
    width: auto;
    display: block;
    width: 50%;
    text-align: left;
}