.homeguest {
    text-align: center;
    margin-right: 8rem;
    margin-top: 4rem;
}
.link {
    text-decoration: none;
    color: #1ac70a;
    font-size: 2rem;
}
.link:hover {
    color: #45e237;
}
.image {
    margin: 0 auto;
    width: 640px;
    height: 400px;
}