.homeguest {
    text-align: center;
    margin-top: 4rem;
    color: #ffffff;
}
.link {
    text-decoration: none;
    color: #3bfa14;
    font-size: 1.5rem;
}
.link:hover {
    color: #c8ff00;
}
.image {
    margin: 0 auto;
    width: 840px;
    height: 400px;
}